<div>
    <h5 class="trm-title-with-divider">
        自定义 Footer 模板 
        <span data-number="02"></span>
    </h5>
    <%- partial('./head/head') %>
    <div class="trm-card">
        <p class="trm-p-10">插入主题自动 Footer 模块 </p> 
        <%- partial('_partial/footer') %>
    </div>
</div>