<div class="row">
    <div class="col-lg-12">
        <div class="trm-card">
            <div style="padding: 0 20px;">
                <%- list_categories({ ulclass: "row trm" , liclass: "col-lg-4 trm" }) %>
            </div>
        </div>
    </div>
</div>