<div id="post-next-prev" class="row">
    <div class="col-lg-12">
        <!-- title -->
        <h5 class="trm-title-with-divider">
            <%- __('title.other_articles') %>
            <span data-number="02"></span>
        </h5>
    </div>
    <% if(page.prev && theme.post_pagination.enable){ %>
        <div class="col-lg-6">
            <%- theme.post_pagination.type === 'large' ? partial('./post-card',{ post: page.prev }) : partial('./post-card-mini',{ post: page.prev }) %>
        </div>
    <%}%>
    <% if(page.next && theme.post_pagination.enable){ %>
        <div class="col-lg-6">
            <%- theme.post_pagination.type === 'large' ? partial('./post-card',{ post: page.next }) : partial('./post-card-mini',{ post: page.next }) %>
        </div>
    <%}%>
</div>