footer {
	background-color: var(--theme-bg-color, #fcfcfe);
	box-shadow: var(--box-shadow2, 0 2px 4px -2px rgba(0, 0, 0, 0.15));
	border-radius: var(--card-border-radius, 10px);
	text-align: center;
	width: 100%;
	padding: 20px;

	.trm-footer-item {
		color: var(--body-color, #7b7b7d);
		min-height: 1.6rem;
		line-height: 1.6rem;
		font-size: 0.9rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		a {
			color: var(--primary, #afb42b);
			.transition-mixin();

			&:hover {
				color: var(--primary-weak, #afb42b);
			}
		}
	}

	.footer-separator,
	#since {
		margin: 0 0.5rem;
	}

	.footer-separator::before {
		content: attr(data-separator);
	}

	@media (max-width: 768px) {
		.footer-separator::before {
			content: "  ";
		}
	}
}
