.trm-message {
	position: fixed;
	top: 30px;
	z-index: 1000;
	left: 0;
	right: 0;
	margin: auto;
	width: max-content;
	padding: 4px 24px;
	border-radius: 30px;
	font-size: 14px;
	line-height: 2;
	box-shadow: var(--top-bar-box-shadow, 0 2px 4px 0 rgba(0, 0, 0, 0.15));
	transition: all 0.2s;

	&.success {
		color: var(--theme-bg-color, #fcfcfe);
		background-color: var(--primary, #afb42b);
	}

	&.warning {
		background-color: #fb9a2c;
		color: #fff;
	}

	&.info {
		background-color: #6a7a9a;
		color: #fff;
	}

	&.error {
		background-color: #ff5959;
		color: #fff;
	}
}
