.post-toc {
    position: fixed;
    right: calc(30px + 3rem);
    bottom: 26px;
    z-index: 50;
    padding: 10px;
    border-radius: var(--card-border-radius, 10px);
    box-shadow: var(--top-bar-box-shadow, 0 2px 4px 0 rgba(0, 0, 0, 0.15));
    background-color: var(--theme-bg-color, #fcfcfe);
    max-height: 50vh;
    max-width: 100vw;
    overflow-y: auto;
    transform: scale(0);

    &.active{
        transform: scale(1);
    }
    
    .toc {
        text-align  : left;
        padding-left: 1rem;
        margin      : 0;
    }

    ol {
        margin    : 0 0 0 1em;
        padding   : 0;
        list-style: none;
    }

    .toc-link {
        display         : block;
        line-height     : 1.8;
        font-weight     : bold;
        overflow        : hidden;
        white-space     : nowrap;
        -o-text-overflow: ellipsis;
        text-overflow   : ellipsis;
        max-width       : calc(100vw - 30px - 8rem);
    }

    .toc-level-1 {
        list-style: none;
    }
}