<div class="trm-mode-swich-animation-frame">
    <div class="trm-mode-swich-animation"><i class="far fa-sun"></i>
        <div class="trm-horizon"></div>
        <i class="far fa-moon"></i>
    </div>
</div>