<div class="trm-mode-swich-animation-frame">
    <div class="trm-mode-swich-animation">
        <i class="i-sun"><%- icon(theme.icons.sun) %></i>
        <div class="trm-horizon"></div>
        <i class="i-moon"><%- icon(theme.icons.moon) %></i>
    </div>
</div>