<header class="trm-top-bar" data-scroll data-scroll-sticky data-scroll-target=".locomotive-scroll__sticky-target" data-scroll-offset="-10">
	<div class="container">
		<div class="trm-left-side">
			<%- partial(theme.layout.header_logo) %>
		</div>
		<div class="trm-right-side">
			<%- partial(theme.layout.header_menu) %>
			<%- partial(theme.layout.header_theme) %>
			<%- partial(theme.layout.header_search) %>
		</div>
		<div class="trm-menu-btn">
			<span></span>
		</div>
	</div>
</header>