name: Deploy docs

on:
  push:
    branches: [master]
    paths:
      - 'docs/**'
      - 'demo/**'

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn
      - run: yarn install --frozen-lockfile

      - name: Build
        run: |
          yarn docs:build
          echo ${{ secrets.CNAME }} > docs/.vitepress/dist/CNAME
          chmod 600 docs/.vitepress/dist/CNAME
          mkdir -p ./demo/themes/async
          cp -RT ./package/hexo-theme-async ./demo/themes/async
          cd ./demo
          yarn
          yarn clean
          yarn build
          cd ../

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/.vitepress/dist
